{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

    <br>
    <div class="container">
        <form name="myform" id="myform" method="POST">
            {% csrf_token %}
            <div class="form-group shadow-textarea">
              <label for="txtArea1">Copie este texto</label>
              <textarea class="form-control z-depth-1" id="txtArea1" rows="7">
{{texto}}
              </textarea>
            </div>

            <br>

            {% if true %}
                <div class="alert alert-success" role="alert">
                  Parabéns
                </div>
            {% endif %}
            {% if false %}
                <div class="alert alert-danger" role="alert">
                  Puts
                </div>
            {% endif %}

            <div class="form-group shadow-textarea">
                <label for="txtArea2">Aqui</label>
              <textarea class="form-control z-depth-1" id="txtArea2" rows="7"></textarea>
            </div>

            <input type="text" id='data' name='data' hidden>

            <button type="submit" class="btn btn-danger btn-lg btn-block" onclick="myFunction()">Enviar</button>
        </form>
    </div>

    <script src="{% static '/assets/javascript/modelo2.js' %}"></script>

{% endblock %}