{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

    <br>
    <div class="container">
        <form name="myform" id="myform" method="POST">
            {% csrf_token %}
            <div class="form-group shadow-textarea">
              <label for="txtArea1">Copie este texto</label>
              <textarea class="form-control z-depth-1" id="txtArea1" rows="7">
So I have, myself, full confidence that if all do their duty, if nothing is neglected, and if the best arrangements are made, as they are being made, we shall prove ourselves once more able to defend our Island Home, to ride out the storm of war, and to outlive the menace of tyranny, if necessary for years, if necessary alone.
              </textarea>
            </div>

            <br>

            <div class="form-group shadow-textarea">
                <label for="txtArea2">Aqui</label>
              <textarea class="form-control z-depth-1" id="txtArea2" rows="7"></textarea>
            </div>

            <input type="text" id='data' name='data' hidden>

            <button type="submit" class="btn btn-danger btn-lg btn-block" onclick="myFunction()">Enviar</button>
        </form>
    </div>

    <script src="{% static '/assets/javascript/modelo2.js' %}"></script>

{% endblock %}